body {
    background: #f7f8fa;
    font-family: system-ui, Segoe UI, Roboto, "Helvetica Neue", Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.icon-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.icon-item {
    text-align: center;
    width: 90px;
}

.icon {
    width: 50px;
    height: 50px;
    background: #eaf3ff;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon:hover {
    background: #cde0ff;
    transform: scale(1.1);
}


/* Localisation */
.icon.location::before {
    content: '●';
    color: #eaf3ff;
    width: 16px;
    height: 16px;
    font-size: 10px;
    background: #2196f3;;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
}

/* Recherche (loupe) */
.icon.search::before {
    content: '';
    width: 10px;
    height: 10px;
    border: 3px solid #2196f3;
    border-radius: 50%;
    position: absolute;
    top: 32%;
    left: 30%;
}

.icon.search::after {
    content: '';
    width: 8px;
    height: 3px;
    background: #2196f3;
    position: absolute;
    bottom: 17px;
    right: 16px;
    transform: rotate(45deg);
}

/* Cœur */
.icon.heart::before {
    content: '❤';
    color: #2196f3;
    position: absolute;
    font-size: 20px;
    background: transparent;
    border-radius: 50% 50%;
}


/* Chat */
.icon.dog::before {
    content: 'ᓚᘏᗢ';
    color: #2196f3;
    font-size: 12px;
    font-weight:900;
    background: transparent;
    position: absolute;
}

/* Famille (2 silhouettes) */
.icon.family::before,
.icon.family::after {
    content: '';
    width: 10px;
    height: 10px;
    background: #2196f3;
    border-radius: 50px 0px 0px 0px;
    position: absolute;
}

.icon.family::before {
    left: 14px;
}

.icon.family::after {
    right: 14px;
}

/* Étoile */
.icon.star::before {
    content: '✿';
    color: #2196f3;
    font-size: 24px;
    font-weight: bold;
    margin-top: -3%;
}

/* Dollar */
.icon.money::before {
    content: '$';
    font-size: 20px;
    font-weight: 900;
    color: #2196f3;
    border-radius: 2px;
    position: relative;
}

/* Plage */
.icon.beach::before {
    content: 'ツ';
    background: transparent;
    position: absolute;
    font-weight: bold;
    color: #2196f3;
    font-size: 18px;
}

/* Montagne */
.icon.mountain::before {
    content: '';
    border-left: 8px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #2196f3;
}
