/********************** NOTE *******************************************
   default width : 394px
   responsive limit : 210px

   In this stylesheet, 
   you will see comments like: "just a debug css",
   I use it to easily debug website it's around frontend aspect
*/
html, body {
    /*just a debug css*/
    border: 1px solid rgb(255, 255, 255);
}
/* website scrollbar */
::-webkit-scrollbar {
    display: none;
}
:root {
    /*********** HEADER ***********/
    --header-border-color: white;
    --header-img-border-color: white;
    --header-button-border-color: white;
    --header-nav_mobile-border-color: white;
    --header-nav_mobile-a-border-color: white;
    --header-nav_desktop-border-color: white;
    --header-nav_desktop-a-border-color: white;

    /*********** MAIN ***********/
    --main-border-color: white;
    /******* SECTION 1 *******/
    --main-section-border-color: white;
    --main-section-h2-border-color: white;
    --main-section-p-border-color: white;
    --main-section-form-border-color: white;
    --main-section-form-span-icon-border-color: white;
    --main-section-form-button-icon-border-color: transparent;
    --main-section-form-button-search_desktop-color: white;
    --main-section-div-option-h4-border-color: white;
    --main-section-div-option-option-item-border-color: white;
    --main-section-div-option-option_item-p-color: black;
    --main-section-div-option-option_item-p-background: transparent;
    /******* SECTION 2 *******/
    --main-section-div-gallery-border-color: white;
    --main-section-div-gallery-g_1-border-color: transparent;
    --main-section-div-gallery-g_1-g-border-color: transparent;
    --main-section-div-gallery-g_1-h5-border-color: transparent;
    --main-section-div-gallery-g_1et2-h3-border-color: transparent;
    --main-section-div-gallery-g_2-border-color: /*#f2f2ef*/ transparent;
}
/*To mask image, and see how to debug*/
#no-image {
    display: block;
}
#view-image {
    display: none;
}

/********************** HEADER **************************/
header {
    /*just a debug css*/
    border: 1px solid var(--header-border-color);
    padding-top: 20px;
}
header img {
    /*just a debug css*/
    border: 1px solid var(--header-img-border-color);
    width: 79.68px;
    padding: 2px 12px 4px 16px;
    border-radius: 5px;
    cursor: pointer;
}
header button {
    /*just a debug css*/
    border: 1px solid var(--header-button-border-color);
    border-radius: 14px;
    float: right;
    font-weight: bold;
    font-size: 14px;
    color: rgb(0, 109, 255);
    background-color: white;
    margin: 8px 0px;
    padding: 6px 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    transition: 0.3s ease;
}
header .nav-mobile {
    /*just a debug css*/
    border: 1px solid var(--header-nav_mobile-border-color);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0px;
    /*just a debug css*/
    display: none;
    /*nav ajustment to paste nav on a total width webpage*/
    width: 102%;
    margin-left:-1%;
}
header .nav-mobile a {
    /*just a debug css*/
    border: 1px solid var(--header-nav_mobile-a-border-color);
    border-bottom: 2px solid rgb(238, 238, 238);
    text-align: center;
    padding: 6px 18px;
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
header .nav-mobile a.active {
    color: rgb(0, 109, 255);
    border-bottom: 2px solid rgb(0, 109, 255);
}
header .nav-desktop {
    /*just a debug css*/
    border: 1px solid var(--header-nav_desktop-border-color);
    /*to reset default 100% width of nav tag, fixed to it's elements*/
    display:flexbox;
    margin: 14px 3px;
    float:right
}
header .nav-desktop a { 
    /*just a debug css*/
    border: 1px solid var(--header-nav_desktop-a-border-color);
    border-radius: 14px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    padding: 5px 18px;
}
header .nav-desktop a.active {
    color: rgb(0, 109, 255);
}
header .nav-desktop a:hover {
    color: blue;
}
@media screen and (max-width: 452px) {
    html, body {
        margin: 0;
        padding: 6px 0 0 0;
    }
    header .nav-desktop {
        display: none;
    }
    header .nav-mobile {
        display: grid;
    }
}


/****************** MAIN ******************/
main {
    /*just a debug css*/
    border: 1px solid var(--main-border-color);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}    
/***************** SECTION 1 ******************/ 
main section {
    /*just a debug css*/
    border: 1px solid var(--main-section-border-color);
    margin: auto 1.5%;
}
@media screen and (max-width: 453px) {
    main section {
        margin: auto 16px;
    }
}
main section h2 {
    /*just a debug css*/
    border: 1px solid var(--main-section-h2-border-color);
    /*to redefine default h2 margin-bottom*/
    margin-bottom: 0;
    margin-top: 20px
}
main section p {
    /*just a debug css*/
    border: 1px solid var(--main-section-p-border-color);
    /*to redefine default p margin-top*/
    margin-top: 4px;
}
main section form {
    /*just a debug css*/
    border: 1px solid var(--main-section-form-border-color);
    padding-top: 6px;
}
main section form span .icon-item {
    text-align: center;
    width: 90px;
}
main section form span .icon {
    /*just a debug css*/
    border: 1px solid var(--main-section-form-span-icon-border-color);
    width: 48px;
    height: 48px;
    background: #f2f2ef;
    border-radius: 12px 0 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main section form span .icon.location::before {
    content: '●';
    color: #f2f2ef;
    width: 16px;
    height: 16px;
    font-size: 10px;
    background: black;;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    /*redefine position*/
    margin-top: -5%;
}
main section form input {
    /*just a debug css*/
    border: 2px solid #f2f2ef;
    padding: 15px 8px 12px 16px;
    margin-left: 48px;
    margin-top: -49px;
    /*set relative position*/
    position: absolute;
    width:auto;
    font-weight: bold;
    font-family: system-ui, Segoe UI, Roboto, "Helvetica Neue", Arial;
    transition: 0.3s ease;
    width: 200px;
}
main section form input:hover {
    border-color: #0065ff;
    border-radius: 12px 0px 0px 12px;
    margin-left: -1px;
    width: 250px;
}
/* placeholder of input tag */
::placeholder {
    /*Chrome, Firefox, Opera, Safari 10.1..*/
    color: black;
    font-weight: bold;
    font-family: system-ui, Segoe UI, Roboto, "Helvetica Neue", Arial;
    font-size: 16px;
}
:-ms-input-placeholder {
    /*Internet Explorer 10-11 */
    color: black;
    font-weight: bold;
    font-size: 16px;
    font-family: system-ui, Segoe UI, Roboto, "Helvetica Neue", Arial;
}
@media screen and (max-width: 340px) {
    main section form input {
        width: 110px;
    }
    main section form input:hover {
    width: 180px;
    }
}
main section form button {
    /*just a debug css*/
    border: 1px solid #0065ff;
    /*redefine position*/
    position: absolute;
    margin-left: 248px;
    margin-top: -49px;
    background: #0065ff;
    border-radius: 12px 12px;
    cursor: pointer;
}
main section form button:hover {
    --main-section-form-button-search_desktop-color: rgb(141, 222, 224);
}
@media screen and (max-width: 340px) {
    main section form button {
        margin-left: 180px;
    }
}
@media screen and (min-width: 453px) {
    main section form button {
    border-radius: 0px 12px 12px 0px;
    }
}   
main section form button .icon-item {
    text-align: center;
}
main section form button .icon {
    /*just a debug css*/
    border: 1px solid var(--main-section-form-button-icon-border-color);
    width: 38px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main section form button .icon.search-mobile {
    display: none;
}
@media screen and (max-width: 452px) {
    main section form button .icon.search-mobile {
        display: block;
    }
    main section form button .search-desktop {
        display: none;
    }
}
/*design search icon for the button*/
main section form button .icon.search-mobile::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    border: 3px solid white;
    border-radius: 50%;
    top: 30%;
    left: 30%;
}
main section form button .icon.search-mobile::after {
    content: '';
    width: 8px;
    height: 3px;
    background: white;
    position: absolute;
    bottom: 15px;
    right: 16px;
    transform: rotate(45deg);
}
main section form button .search-desktop {
    border: 1px solid transparent;
    font-size: 14px;
    padding: 12px 6px 11px 6px;
    color: var(--main-section-form-button-search_desktop-color);
    font-family: system-ui, Segoe UI, Roboto, "Helvetica Neue", Arial;
    font-weight: 500;
}
main section div.option {
    /*just a debug css*/
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
}
main section div.option h4 {
    /*just a debug css*/
    border: 1px solid var(--main-section-div-option-h4-border-color);
    margin-top: 11px;
    padding-right: 8px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: auto;
}
@media screen and (max-width: 400px) {
    main section div.option h4 {
        width: 100%;
        margin-bottom: 4px;
    }
    main section div.option {
        gap: 9px;
    }
}
main section div.option .option-item {
    /*just a debug css*/
    border: 1px solid var(--main-section-div-option-option-item-border-color);
    text-align: center;
}
main section div.option .option-item:hover {
    cursor: default;
    --main-section-div-option-option_item-p-color: #4bb4ff;
    --main-section-div-option-option_item-p-background: #e8f3fe36;
}
main section div.option .option-item p {
    /*just a debug css*/
    border: 1px solid #eaf3ff;
    padding: 9px 16px 9px 50px;
    margin-top: -40px;
    /*because as the paragraph has redefined, it's margin-bottom at the default position must be 0 or -3px, to fix border .option-item around contents*/
    margin-bottom: -3px;
    border-radius: 50px 50px;
    font-weight: 600;
    background: var(--main-section-div-option-option_item-p-background);
    color: var(--main-section-div-option-option_item-p-color);
}
main section div.option .option-item .icon {
    width: 40px;
    height: 40px;
    background: #eaf3ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
main section div.option .option-item .icon:hover {
    background: #cde0ff;
}
main section div.option .option-item .icon.money::before {
    content: '$';
    font-size: 20px;
    font-weight: 900;
    color: #2196f3;
    border-radius: 2px;
}
main section div.option .option-item .icon.family::before {
    content: '✿';
    color: #2196f3;
    font-size: 24px;
    font-weight: bold;
    margin-top: -3%;
}
main section div.option .option-item .icon.heart::before {
    content: '❤';
    color: #2196f3;
    position: absolute;
    font-size: 20px;
    background: transparent;
    border-radius: 50% 50%;
    margin-top: 2px;
}
main section div.option .option-item .icon.cat::before {
    content: '彡';
    color: #2196f3;
    font-weight: 900;
    background: transparent;
    position: absolute;
}
main section .info {
    padding-top: 24px;
    display: grid;
    grid-template-columns: 30px auto;
}
@media screen and (min-width: 851px) {
    main section .info {
        padding-top: 14px;
    }
}
main section .info button {
    width: 24px;
    height: 24px;
    border: 1px solid #e2e2e0;
    background: white;
    border-radius: 50px;
    font-weight: bold;
    font-family: monospace;
    font-size: 12px;
    color: #005be4;
}

/***************** SECTION 2 *******************/
main .section-2 {
    background: white;
}
main section.section-2 div.gallery {
    /*just a debug css*/
    border: 1px solid var(--main-section-div-gallery-border-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 30px;
    gap: 6px;
}
main section div.gallery .g-1 {
    /*just a debug css*/
    border: 1px solid var(--main-section-div-gallery-g_1-border-color);
    background: #f2f2ef;
    padding: 1% 0 0 2%;
    border-radius: 12px;
}
main section div.gallery .g-1 .g {
    /*just a debug css*/
    border: 1px solid var(--main-section-div-gallery-g_1-g-border-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-left: -20px;
    margin-right: 4px;
}
main section div.gallery .g-1 h5 {
    /*just a debug css*/
    border: 1px solid var(--main-section-div-gallery-g_1-h5-border-color);
    margin-top: -1px;
    cursor: pointer;
}
main section div.gallery .g-2 {
    /*just a debug css*/
    border: 1px solid var(--main-section-div-gallery-g_2-border-color);
    background: #f2f2ef;
    padding: 1% 20px 0 20px;
    border-radius: 12px;
}
@media screen and (max-width: 1254px) {
    main section div.gallery .g-2 {
        display: block;
        width: 100%
    }
    main section div.gallery .g-1 {
        margin-right: 0;
    }
}
@media screen and (max-width: 452px) {
    main section div.gallery .g-2 {
        display:block;
        margin-left: -6%;
        margin-right: -7%;
        border-radius: 0px;
    }
    main section.section-2 div.gallery {
        flex-direction: column-reverse;
    }
    main section div.gallery .g-1 {
        background: white;
    }
}
@media screen and (min-width: 1254px) {
    main section div.gallery .g-1 {
            width: 58%;
    }
}
main section div.gallery .g-2 h3,
main section div.gallery .g-1 h3 {
    /*just a debug css*/
    border: 1px solid var(--main-section-div-gallery-g_1et2-h3-border-color);
}
main section div.gallery .g-2 img.icon {
    margin-top: -41px;
    float: right;
}
main section div.gallery .g-2 .g-2-item {
    display: block;
    padding: 5.2px 160px 5px 5px;
    border-radius: 12px 12px;
    background: white;
    margin-bottom: 26px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
main section div.gallery .g-2 .g-2-item img {
    border-radius: 12px 0 0 12px;
    height: 100px;
}
main section div.gallery .g-2 .g-2-item .description {
    position: absolute;
    margin-top: -92px;
    margin-left: 140px;
    font-size: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main section div.gallery .g-2 .g-2-item .description span,
main section div.gallery .g-1 .g-1-item .description span{
    font-size: 12px;
}
main section div.gallery .g-1 .g-1-item {
    padding: 6.2px 5px 2px 5px;
    border-radius: 12px 12px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 0 20px 20px;
}
main section div.gallery .g-1 .g-1-item img {
    border-radius: 12px 12px 0 0;
    height: 90px;
    width: 200px;
}
@media screen and (max-width: 452px) {
    main section div.gallery .g-1 .g-1-item img {
            height: 160px;
            width: 100%;
    }
    main section div.gallery .g-1 .g-1-item {
            width: 100%;
    }
}
main section div.gallery .g-1 .g-1-item .description {
    margin-bottom: 6px;
    margin-left: 4px;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/***************** SECTION 3 **************************/
main section.section-3 {
    position: relative;
    background: white;
}
main section.section-3 .g {
    /*just a debug css*/
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;   
}
main section.section-3 .g-item {
    display: block;
    padding: 0px 0px;
    border-radius: 12px 12px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 55px 50px 0;
}
main section.section-3 .g-item img {
    border-radius: 12px 12px 0 0;
    /*width: 100%;*/
    width: 260px;
}
main section.section-3 .g-item p {
    margin-left: 20px;
    margin-top: 10px;
}
@media screen and (max-width: 1254px) {
    main section.section-3 {
        display: block;
        width: 100%;
    }
}
@media screen and (max-width: 452px) {
    main section.section-3 {
        display: block;
    }
    main section.section-3 div.G-item {
        width: 100%;
        margin: 0 0 55px 0;
    }
    main section.section-3 .g-item {
        width: 100%;
        margin: 0 0 55px 0;
    }
    main section.section-3 .g-item img {
        width: 100%;
    }
}


/***************** FOOTER ********************/
footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left:0;
    right:0;                                                                    padding: 20px 10px 20px 30px;
}
footer div {
    width: 33.3%;
}
@media screen and (max-width: 550px) {
    footer div {
        margin: 0 20px;
    }
}
